*{
    font-size: 4vh;
}

#container{
    width: 60%;
    margin: auto;
}

#calcInputField{
    width: 90%;
    height: 15vh;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10%;
    font-size: 5vh;
    background-color: rgb(80, 80, 80);
    color: white;
}

.operatorsContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.operatorsContainer > input{
    height: 15vh;
}

#numbersContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#numbers > input {
    height: 15vh;
}

#equal > input{
    height: 100%;
    width: 100%;
}

#zero {
    display: block;
    width: 100%;
}

#zero > input {
    width: 100%;
    height: 15vh;
}

